@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
/* Обнуление стилей */
*{
	padding: 0;
	margin: 0;
  border: 0;
  color: #fff;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: url('img/background-min.jpg') 0 0/cover no-repeat;
	transition: all 1s ease 0s;
	perspective: 2500px;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* ------------- */

.weather {
	width: 800px;
	height: 550px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 30px;
}
.container {
	background: url('img/logo.png') 0 0 no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0px 20px;
	border-bottom: 1px solid rgb(255, 255, 255);
}
.header__temp {
	font-size: 80px;
}
.header__img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	border-radius: 100%;
}
.header__descr {
	max-width: 300px;
	font-size: 40px;
	text-align: right;
}

.center-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	font-size: 20px;
}
.center__temp {

}
.center__temp-block {
	display: flex;
}
.center__temp-min {
	margin-right: 40px;
}
.center-bottom {
	text-align: center;
	height: 200px;
	border-bottom: 1px solid rgb(255, 255, 255);
}
.center__title {
	font-size: 50px;
	transform-style: preserve-3d;
}
.center__input {
	display: block;
	font-size: 20px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 30px;
	color: #000;
	border-radius: 5px;
}
.center__btn {
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	padding: 8px 83px 5px;
	font-size: 25px;
	color: rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(10, 228, 119);
}
.center__btn:hover {
	background-color: rgb(0, 160, 80);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 160px;
}
.footer__item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 110px;
	height: 100%;
	padding: 5px;
	text-align: center;
}
.footer__icon {
	
}
.footer__icon svg {
	width: 50px;
	height: 100%;
	fill: #fff;
}
.footer__text {
	font-size: 20px;
}
.footer__value {
	font-size: 20px;
}
.footer__date {
	font-size: 30px;
	text-align: center;
	width: 140px;
	padding: 5px;
}

/* weather__forecast */
.weather__forecast {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 5px;
	height: 550px;
	width: 250px;
}
.block {
	height: 180px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 30px;
	/* opacity: 0;
	transform: translateX(-255px);
	transition: all 2s; */
}
.block__top {
	display: flex;
	justify-content: space-between;
}
.block__top-temp {
	font-size: 50px;
	padding: 10px;
}
.block__descr {
	text-align: center;
	font-size: 24px;
}
.block__date {
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}

.animation {
	opacity: 0;
	transform: translateX(-100px);
	transition: all 1s ease 0s;
}
.animation__icon {
	opacity: 0;
	transform: translateY(-80px);
	transition: all 1s ease 0s;
}
.active {
	opacity: 1;
	transform: translateX(0px);
	transition: all 1s ease 0s;
}